.premium-btn {
  margin: 10px;
  padding: 10px 14px;
  font-size: 15px;
  font-weight: bold;
  background-color: #ff9800;
  background: transparent;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

.premium-btn:hover {
  background-color: #c0bdb9;

}

.dark-theme .premium-btn {
  background-color: #e1dfda;
}
