.header-ribbon {
  background-color: #312bdf;
  color: white;
  padding: 0;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}


.nav-left {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 50px;
}

.nav-right {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  gap: 50px;
  margin-right: 30px; /* ✅ adds space from right corner */
}

.header-title {
  font-size: 1.8rem;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffdd57;
}

button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 12px;
  font-size: 1rem;
  gap : 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: white;
  color: #4a90e2;
}
