body {
    margin: 0;
    padding: 0;
}

body.light{
  background-image: url("./Images/img3.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: top center;
}

body.dark{
  background-image: url("./Images/img1.png");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: top center;
}
